body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    /* bottom, image */
    url('/static/login.jpg');
      background-size:cover; 
      background-position:center; 
      background-repeat: no-repeat;
    /* background-color: #f4f4f4; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    margin: 0;

}

.header {
    width: 10%;
    display: flex;
    align-items: left;
    justify-content:space-between;
    padding: 10px;
}


.logo img {
    margin-top: 15px;
    margin-left: 20px;
    height: 50px;
}

.login-container {
    color: aliceblue;
    margin-left: 5%;
    background-color: #ffffff00;
    height: fit-content;
    /* opacity: 0; */
    padding: 20px;
    margin-top: 12%;
    /* width: 400px; */
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    /* text-shadow: #ccc; */
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    color: aliceblue;
    /* color: #000; */
    display: block;
    /* color: black; */
    font-size: x-large;
    margin: 10px 0 5px;

}

input[type="text"], input[type="password"] {
    /* width: 150; */
    width: 300px;
    height: 55;
    padding: 10px;
    font-size: larger;
    margin-bottom: 20px;
    border-radius: 15px;
    
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: larger;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: max-content;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: rgb(148, 3, 3);
    font-size:x-large;
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
